[submodule "slopfinity"]
	path = slopfinity
	url = https://github.com/matthewhand/slopfinity.git
	branch = main
[submodule "Mage"]
	path = submodules/Mage
	url = https://github.com/microsoft/Mage.git
[submodule "HOMIE"]
	path = submodules/HOMIE
	url = https://github.com/YIYANGCAI/HOMIE.git
